
.navbar:hover {
    background-color: lightskyblue;
    color: black;   
}
.navbar.active {
    background-color: dodgerblue;
    color: white ;
}
.agency{
    padding-top: 110px;
}
.agency p{
    text-transform: lowercase;
    font-size: small;
}
.besoin{
    padding-top: 110px;
}
.besoin p{
    text-transform:lowercase;
    font-size:medium;
}
.creation p{
    text-transform: lowercase;
    font-size: large;
}
.realisation{
    padding-top: 110px;
}
.realisation p{
    text-transform:capitalize;
    font-size: small;
    color: darkgrey;
    text-shadow: 0.5px 0.5px rgb(198, 150, 150);
}
.realisation img{
    box-shadow: 2px 5px grey;
}
.contact{
    padding-top: 110px;
}
.contact p{
    text-transform: lowercase;
    font-size: small;
}
.heading 
{
    text-align: center;
    margin-bottom: 60px;        
}
h2
{
    text-transform: uppercase;
    font-weight:bold;
    color: #fff;
}
#contact-form
{
    font-size: 20px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
}
/*---  NEW  ------*/
.blue
{
    color: #0069d6;
}
.form-control
{
    height: 50px;
    font-size: 18px;
}
#contact-form input[type=submit]
{
    margin: 40px auto 0px;
    display: block;
}
.comments
{
    font-style: italic;
    font-size: 18px;
    color: #d82c2e;
    height: 25px
}
#contact-form .thank-you
{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}
.button1
{
    border: 1px solid #ddd;
    background: rgb(42, 17, 6);
    color: #fff;
    width: 100%;        
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover
{
    background: #333;
    border-color: rgb(40, 21, 14);
}
.space{
    background-color: #ddd;
    height: 150px;
    text-align: center;
}
.space h2{
    color: #0069d6;
    text-transform: uppercase;
    margin-top: 35px;
}
.space p{
    color: #0d488b;
    font-weight: bold;
}

footer .first_line{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
footer .second_line{
    display: flex;
    justify-content: center;
    
}
footer p{
    white-space:nowrap ;
}